<CodeSnippets>
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>Comment Line</Title>
      <Shortcut>cmtline</Shortcut>
      <Description>Insert a styled comment line</Description>
      <Author>Yusif</Author>
    </Header>
    <Snippet>
      <Code Language="CSharp">
        <![CDATA[// $text$ -----------------------------------------------]]>
      </Code>
      <Declarations>
        <Literal>
          <ID>text</ID>
          <ToolTip>Comment text</ToolTip>
          <Default>comment</Default>
        </Literal>
      </Declarations>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
